* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21242c;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.background {
  background: #21242c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #859398,
    #21242c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #859398,
    #21242c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 10px;
}

/* .navbar-width {
  width: 100%;
} */
.navbar-width .img-width {
  width: 100px;
}

.search-height {
  height: 100%;
}

.user-container {
  height: 100%;
}

.img-avatar-list img {
  width: 200px;
  border-radius: 50%;
}

.img-user {
  position: relative;
}
